.body {
  /*background-color: var(--color-bg-1);*/
  /*color: var(--color-text-1);*/
  display: flex;
  position: relative;
  background-color: white;
  flex-direction: column;
}

/*///////////////////////////////////----------------------/////////////////////////////////////*/

