.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.text {
  @include text-bold;
  user-select: none;
  height: 22px;
  font-size: 14px;
  color: gray;
}

.my-port {
  width: 12px;
  height: 64px;
}